section{
    width:100%;
    height:90vh;
    font-family: Nunito Sans,sans-serif!important;
}

.heading{
    font-family: Nunito Sans,sans-serif!important;
    font-weight: 900;
    font-size:4rem;
    text-align: center;
    background: -webkit-linear-gradient(315deg,purple 32%,#00f);
    background: -moz-linear-gradient(315deg,purple 32%,#00f 100%);
    background: linear-gradient(135deg,purple 32%,#00f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.aboutGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

.information{
    text-align: center;
    padding:20px;
    color:rgb(83, 83, 83);
    font-size:1rem;
    line-height: 20px;
}

.iconGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0em 0em;
        grid-auto-flow: row;
        grid-template-areas:
          ". . . ."
          ". . . ."
          ". . . ."
          ". . . .";
}

@media screen and (max-width:800px) {
    .aboutGrid{
        grid-template-columns: 1fr;
    }
}

